/*.content {
  padding: 25px;
}
@media (min-width: 26em) {
  .content { padding: 50px;}

}
@media (min-width: 48em){
  .content { padding: 100px;}
}*/

.text-container {
  height:90vh;
}

.bg-black {
  background-color: #111;
}

.bg-blue

.text-lato {
font-family: 'Lato', sans-serif;
font-weight: 300;
}

.text-shrik {
  font-family: 'Shrikhand', cursive;
}


/*Siegfried*/

.siegfried {
  animation: siegfried 3s alternate infinite;
  color: #111;
  cursor: pointer;
  /*text-shadow: 0 0 10px #fff, 0 0 20px #ff0, 0 0 30px #ff0;*/
  /*text-shadow:0 0 20px #000;*/
}


#dark:hover {
  text-shadow: 0 0 10px #fff, 0 0 10px #ff0, 0 0 10px #ff0;
  transition: text-shadow .3s ease-in-out;
    -moz-transition: text-shadow .3s ease-in-out;
    -webkit-transition: text-shadow .3s ease-in-out;
}
/*.orb {
  opacity: 0.2;
  background-color: #ff0;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  filter: blur(20px);
  position: absolute;
}
@keyframes orb {

}*/

@keyframes siegfried {
  0%{
    opacity: 0.1;
    
  }
  100% {
    opacity: 0.9;
    text-shadow:0 0 20px #000;
  }
}

/*Ivy*/

.ivy {
  background-image:
    linear-gradient(
      to top right, 
      white, #eee
    );
}

.ivy-circle {
  max-width: 360px;
  margin: 0 auto;
  display: block;
  animation: rotate 10s linear infinite;
}

.deep-down {
  position: absolute;
  margin: 0 auto;
  left: 50%;
  top: 20%;
}

.ivy-words {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.ivy-is {
  margin-left: -20px
}

.ivy-good {
  margin-left: -50px
}
.deep-down-text {
  color: #BC0D0F;
  z-index: 100;
  text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
-webkit-transform: translateX(-50%);
transform: translateX(-50%)

}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
