/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

img {
  width: 100%; }

/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/
.one-whole {
  width: 100%; }

.one-half {
  width: 100%; }
  @media (min-width: 35em) {
    .one-half {
      width: 50%; } }

.one-third {
  width: 100%; }
  @media (min-width: 35em) {
    .one-third {
      width: 33%; } }

.two-thirds {
  width: 100%; }
  @media (min-width: 35em) {
    .two-thirds {
      width: 75%; } }

/*--------------------------------------------------------------------
 * Mixins
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Grid 
 * Adapted from Philip Walton 
 * http://philipwalton.github.io/solved-by-flexbox/
 *------------------------------------------------------------------*/
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid-full .grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }
  @media (min-width: 35em) {
    .grid-full .grid-cell {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1; } }

.grid-gutters {
  margin: -1em 0 1em -1em; }
  .grid-gutters .grid-cell {
    padding: 1em 0 0 1em; }

.grid-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.grid-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.grid-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
              -ms-grid-row-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.grid-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
              -ms-grid-row-align: flex-end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

/*--------------------------------------------------------------------
 * Nav
 *------------------------------------------------------------------*/
nav {
  left: 0;
  top: 0;
  padding: 25px;
  background-color: #fff;
  z-index: 100;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s; }
  @media (min-width: 35em) {
    nav {
      padding: 50px; } }
  nav ul {
    list-style: none;
    margin-left: 0;
    text-align: center;
    margin-top: 50px; }
    @media (min-width: 35em) {
      nav ul {
        margin-top: 25px; } }
    nav ul li {
      font-size: 1.2em;
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 12.5px; }
      @media (min-width: 646px) {
        nav ul li {
          display: inline-block; } }
      nav ul li a {
        color: #444; }
        nav ul li a:visited {
          color: #444; }

.menu-container {
  position: relative;
  padding: 50px; }

.menu {
  color: #444;
  height: 50px;
  padding-top: 30px;
  z-index: 200;
  position: absolute;
  text-align: center;
  top: 0;
  left: 65%;
  bottom: 0;
  right: 0;
  cursor: pointer;
  font-family: "Chivo", sans-serif; }
  .menu:visited {
    color: #444; }
  .menu span {
    font-weight: 600; }
  @media (min-width: 768px) {
    .menu {
      left: 80%; } }
  @media (min-width: 850px) {
    .menu {
      left: 85%; } }

.is-visible {
  -webkit-transform: translateY(0);
          transform: translateY(0); }

.nav-avatar {
  position: absolute;
  max-width: 50px;
  z-index: 300;
  top: 20px;
  border-radius: 100%; }

/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  line-height: 1.5; }
  @media (min-width: 35em) {
    html {
      font-size: 22px; } }

body {
  font-family: "Vollkorn", serif;
  font-weight: 300;
  color: #444;
  -webkit-text-size-adjust: 100%; }

.container {
  max-width: 35em;
  width: 90%;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }

.content {
  padding: 25px;
  padding-top: 50px; }
  @media (min-width: 26em) {
    .content {
      padding: 50px; } }
  @media (min-width: 48em) {
    .content {
      padding: 100px; } }

.content-small {
  padding: 25px; }
  @media (min-width: 26em) {
    .content-small {
      padding: 50px; } }
  @media (min-width: 35em) {
    .content-small {
      padding: 50px; } }

section {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 35em) {
    section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  section p:last-of-type {
    margin-bottom: 0; }

.intro {
  min-height: 18em;
  color: #fff;
  text-align: center; }

/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Chivo", sans-serif; }

h1 {
  font-size: 1.75rem; }
  @media (min-width: 35em) {
    h1 {
      font-size: 2rem; } }

h2 {
  font-size: 1.25rem; }
  @media (min-width: 35em) {
    h2 {
      font-size: 1.5rem; } }

h3 {
  font-size: 1.3rem;
  font-weight: 600; }

h4 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: -1px; }
  @media (min-width: 35em) {
    h4 {
      letter-spacing: 0; } }

h5 {
  font-size: 1rem;
  font-weight: 600; }

h6 {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600; }

p {
  font-size: 1rem;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

.large-type {
  font-size: 2rem; }
  @media (min-width: 35em) {
    .large-type {
      font-size: 4rem; } }

.text-center {
  text-align: center; }

strong {
  color: #444; }

em {
  font-style: italic; }

b, .bold {
  font-weight: 700; }

hr {
  position: relative;
  margin: 1rem 0;
  border: 0;
  border-top: 1px solid #eee; }

ul, ol {
  margin-left: 1rem;
  margin-bottom: 1rem; }

li {
  font-size: 1rem; }

.list-checkmark {
  list-style-type: none;
  position: relative;
  clear: both; }

.list-checkmark li:before {
  content: "";
  background-size: 70% 70%;
  background-position: 0 50%;
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  left: -1.5em;
  height: 1.5em;
  width: 1.5em;
  background-image: url("http://darrendub.com/public/img/assets/list-checkmark-green.svg"); }

.list-checkmark li {
  counter-increment: section;
  padding-bottom: 12.5px; }

.link-inline {
  text-decoration: none;
  color: #0074D9; }

.link-inline-white {
  text-decoration: none;
  color: #fff; }

small {
  font-size: .75rem; }

blockquote {
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
  text-indent: -0.5em;
  color: #0074D9; }
  @media (min-width: 35em) {
    blockquote {
      font-size: 2rem; } }
  blockquote:before {
    content: '\201C';
    color: #0074D9;
    display: block;
    text-indent: 0;
    font-size: 2rem;
    margin-bottom: -1rem; }
    @media (min-width: 35em) {
      blockquote:before {
        font-size: 3rem; } }

.link-text {
  color: #268bd2; }
  .link-text:visited {
    color: #268bd2; }

.text-white {
  color: #fff; }

.project-title {
  font-family: "Chivo", sans-serif;
  text-align: center;
  color: #fff; }

.project-description {
  text-align: center;
  color: #fff;
  font-size: 0.75rem; }

/*--------------------------------------------------------------------
 * Helper
 *------------------------------------------------------------------*/
.full-bleed {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding-left: 0;
  padding-right: 0; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.p-25 {
  padding: 25px; }

.mt1 {
  margin-top: 1rem; }

.mt-1 {
  margin-top: -1rem; }

/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/
.message {
  font-family: "Vollkorn", serif;
  padding: 1em;
  padding: 1em;
  color: #444;
  font-size: .6rem;
  text-align: center; }
  .message p {
    margin-bottom: 0 !important; }
  .message a {
    color: #268bd2; }

.bg-light-gray {
  background-color: #f8f8f8; }

.bg-white {
  background-color: #fff; }

.bg-deep-sea-blue {
  background-color: #2c3e50; }

.bg-deep-sea-blue-dark {
  background-color: #434b5a; }

.bg-gray {
  background-color: #e1e1e1; }

.bg-light-blue {
  background-color: #d0ecfd; }

.bg-warm-blue {
  background-color: #037db7; }

.bg-coal {
  background-color: #444; }

.bg-green {
  background-color: #27ae60; }

.bg-yellow {
  background-color: #f0c514; }

.bg-inspiration {
  background: url(/public/img/home/home-bg-inspiration.jpg);
  background-size: cover; }

.bg-inspiration-royal {
  background-color: #14182d; }

.bg-psc {
  background-color: #c08d2d; }

.bg-drake {
  background-color: #a39161; }

.bg-hemingway {
  background: url(/public/img/home/home-hemingway.png);
  background-size: cover;
  height: 268px;
  margin-top: 10px;
  margin-left: 10px; }
  @media (min-width: 35em) {
    .bg-hemingway {
      margin-left: -28px;
      margin-top: -28px;
      height: 375px;
      margin-bottom: -72px; } }

.bg-hemingway-large {
  background: url(/public/img/hemingway/hemingway-bg-large.png);
  background-size: cover; }

.button {
  padding: 12.5px 25px;
  border-radius: 4px;
  text-decoration: none;
  font-family: "Vollkorn", serif;
  font-size: 17px;
  font-weight: 600;
  display: inline-block; }

.button-dark {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
  color: #fff; }
  .button-dark:visited {
    color: white; }

.button-blue {
  background-color: #268bd2;
  color: #fff; }
  .button-blue:visited {
    color: white; }

.drop-shadow, nav, .video-poster {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3); }

.rounded-corners {
  border-radius: 6px; }

.img-300-grid {
  max-width: 300px; }

.img-200-grid {
  max-width: 200px; }

.homepage-intro {
  padding-top: 50px;
  padding-bottom: 25px; }
  @media (min-width: 35em) {
    .homepage-intro {
      padding-bottom: 100px;
      padding-top: 0; } }

.work-card {
  max-width: 800px;
  margin-bottom: 50px;
  padding: 25px; }
  @media (min-width: 35em) {
    .work-card {
      margin-bottom: 100px;
      padding: 50px; } }

footer .social-icon {
  max-width: 25px;
  display: inline-block; }

.resume em, .resume li {
  font-size: .75rem; }

.inspiration-videos {
  width: 100%;
  max-width: 400px;
  margin-top: 1em; }

/*Drake Albums CSS */
.album {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5em; }

@media (min-width: 35em) {
  .album {
    max-width: 500px;
    width: 500px;
    height: 500px; } }
.album-title {
  margin-bottom: 10px; }

.so-far-gone-drake {
  max-width: 220px;
  position: absolute;
  bottom: 20%;
  left: 14%; }

@media (min-width: 35em) {
  .so-far-gone-drake {
    max-width: 300px;
    bottom: 30%;
    left: 20%; } }
.so-far-gone-confetti {
  max-width: 40px;
  position: absolute; }

@media (min-width: 35em) {
  .so-far-gone-confetti {
    max-width: 60px; } }
.money-1 {
  top: -10%;
  right: 40%; }

.money-2 {
  top: -20%;
  right: 60%; }

.money-3 {
  top: -40%;
  right: 50%; }

.money-4 {
  top: -45%;
  right: 20%; }

.money-5 {
  top: -20%;
  right: 10%; }

.money-6 {
  top: -30%;
  left: 5%; }

.money-7 {
  top: -15%;
  left: 10%; }

.heart-1 {
  top: -40%;
  right: 65%; }

.heart-2 {
  top: -20%;
  right: 38%;
  max-width: 30px; }

.heart-3 {
  top: -30%;
  right: 15%;
  max-width: 40px; }

.rain {
  -webkit-animation: rain 3s infinite;
  animation: rain 3s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }

.rain-delay {
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes rain {
  100% {
    top: 120%; } }
@keyframes rain {
  100% {
    top: 120%; } }
.views {
  z-index: 1;
  position: absolute; }

.eye-position-1 {
  top: 40%;
  left: 15%; }

.eye-position-2 {
  top: 50%;
  left: 10%; }

.eye-position-3 {
  top: 55%;
  left: 28%; }

.eye-position-4 {
  top: 44%;
  left: 30%; }

.eye-position-5 {
  top: 40%;
  left: 37%; }

.eye-position-6 {
  top: 55%;
  left: 46%; }

.eye-position-7 {
  top: 42%;
  left: 62%; }

@media (min-width: 35em) {
  .eye-position-7 {
    left: 57%; } }
.eye-position-8 {
  top: 45%;
  left: 64%; }

.eye-position-9 {
  top: 56%;
  left: 57%; }

.eye-position-10 {
  top: 54%;
  left: 72%; }

.eye-position-11 {
  top: 40%;
  left: 82%; }

.eye-position-12 {
  top: 50%;
  left: 85%; }

.eye {
  width: 30px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute; }

.eye:before {
  content: '';
  width: 31px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -21px; }

@media (min-width: 35em) {
  .eye {
    width: 40px;
    height: 20px; }

  .eye:before {
    content: '';
    width: 41px;
    height: 21px; } }
.eye-ball {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000;
  margin-top: 10%; }

.eye-blink, .eye:before {
  -webkit-animation: eye-blink 3s infinite;
  animation: eye-blink 3s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes eye-blink {
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px); } }
@keyframes eye-blink {
  50% {
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px); } }
.eye-small {
  width: 30px;
  height: 15px; }

.eye-small:before {
  content: '';
  width: 31px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -16px; }

.eye-small .eye-ball {
  width: 12px;
  height: 12px; }

.eye-blink-sm, .eye-small:before {
  -webkit-animation: eye-blink-sm 2s infinite;
  animation: eye-blink-sm 2s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes eye-blink-sm {
  50% {
    -webkit-transform: translate(0, 16px);
    transform: translate(0, 16px); } }
@keyframes eye-blink-sm {
  50% {
    -webkit-transform: translate(0, 16px);
    transform: translate(0, 16px); } }
.eye-medium {
  width: 35px;
  height: 17px; }

.eye-medium:before {
  content: '';
  width: 35px;
  height: 17px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -17px; }

.eye-medium .eye-ball {
  width: 14px;
  height: 14px; }

.eye-blink-md, .eye-medium:before {
  -webkit-animation: eye-blink-md 3s infinite;
  animation: eye-blink-md 3s infinite;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease; }

@-webkit-keyframes eye-blink-md {
  50% {
    -webkit-transform: translate(0, 17px);
    transform: translate(0, 17px); } }
@keyframes eye-blink-md {
  50% {
    -webkit-transform: translate(0, 17px);
    transform: translate(0, 17px); } }
.if-reading-parental {
  max-width: 30px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 2; }

@media (min-width: 35em) {
  .if-reading-parental {
    max-width: 50px; } }
.bg-black {
  background-color: #000; }
