/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

img {
  width: 100%; }

/*--------------------------------------------------------------------
 * Settings - Variables
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Typography
 *------------------------------------------------------------------*/
.type-xxl, .type-xl, .type-lg, .type-md, .type-sm {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Whitney SSm A", "Whitney SSm B", "Whitney", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #444d56;
  line-height: 1.5; }

.type-xxl {
  font-size: 3.13em;
  font-weight: 600; }

.type-xl {
  font-size: 2.25em; }

.type-lg {
  font-size: 1.7em; }

.type-md {
  font-size: 1.31em; }

.type-sm {
  font-size: 1em; }

.type-concrete {
  color: #959da5; }

.type-coal {
  color: #444d56; }

.type-ruby {
  color: #E01D5A; }

.type-link {
  color: #4B88F0;
  background-color: rgba(75, 136, 240, 0.1);
  padding: 2px;
  border-radius: 2px;
  font-weight: 600; }

code, .type-code {
  font-family: Andale Mono, Courier, monospace;
  color: #E01D5A;
  background-color: #f6f8fa;
  border: 1px solid #d5dfe8;
  padding: 2px;
  border-radius: 2px;
  font-size: .75em; }

strong, b, .type-bold {
  font-weight: 600; }

.hr-rule {
  border: none;
  border-top: 1px solid #f6f8fa; }

/*--------------------------------------------------------------------
 * Grid
 *------------------------------------------------------------------*/
.grid {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px 0 -8px; }
  .grid.grid-nogutter {
    margin: 0; }
    .grid.grid-nogutter > .col {
      padding: 0; }

.col {
  box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  max-width: 100%;
  min-width: 0;
  padding: 0 8px 0 8px; }

.col-align-top {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }

.col-align-bottom {
  align-self: flex-end; }

.col-align-middle {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }

.col-top {
  justify-content: flex-start !important;
  flex-direction: column;
  display: flex; }

.col-bottom {
  justify-content: flex-end !important;
  flex-direction: column;
  display: flex; }

.col-middle {
  justify-content: center;
  flex-direction: column;
  display: flex; }

.grid-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.grid-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.grid-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.grid-around {
  justify-content: space-around; }

.grid-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.col-first {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1; }

.col-last {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.grid-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col-fixed {
  flex: initial; }

.col-grow-2 {
  flex-grow: 2; }

.col-grow-3 {
  flex-grow: 3; }

.col-grow-4 {
  flex-grow: 4; }

.col-grow-5 {
  flex-grow: 5; }

.col-grow-6 {
  flex-grow: 6; }

.col-grow-7 {
  flex-grow: 7; }

.col-grow-8 {
  flex-grow: 8; }

.col-grow-9 {
  flex-grow: 9; }

.col-grow-10 {
  flex-grow: 10; }

.col-grow-11 {
  flex-grow: 11; }

.col-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%; }

@media only screen and (max-width: 480px) {
  .col-sm {
    flex: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 624px) {
  .col-md {
    flex: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 744px) {
  .col-lg {
    flex: 100%;
    max-width: 100%; } }

/*--------------------------------------------------------------------
 * Layout
 *------------------------------------------------------------------*/
.container {
  padding: 16px; }

/*--------------------------------------------------------------------
 * Helper
 *------------------------------------------------------------------*/
.pt-sm {
  padding-top: 8px; }

.pt-md {
  padding-top: 16px; }

.pt-lg {
  padding-top: 24px; }

.pt-xl {
  padding-top: 32px; }

.pb-sm {
  padding-bottom: 8px; }

.pb-md {
  padding-bottom: 16px; }

.pb-lg {
  padding-bottom: 24px; }

.pb-xl {
  padding-bottom: 32px; }

.mt-sm {
  margin-top: 8px; }

.mt-md {
  margin-top: 16px; }

.mt-lg {
  margin-top: 24px; }

.mt-xl {
  margin-top: 32px; }

.mb-sm {
  margin-bottom: 8px; }

.mb-md {
  margin-bottom: 16px; }

.mb-lg {
  margin-bottom: 24px; }

.mb-xl {
  margin-bottom: 32px; }
