/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Mixins
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Grid - Solved by Flexbox by Philip Walton 
 * http://philipwalton.github.io/solved-by-flexbox/
 *------------------------------------------------------------------*/
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0; }

.grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid-fit .grid-cell {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.grid-full .grid-cell {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%; }

.grid-gutters {
  margin: -1em 0 1em -1em; }
  .grid-gutters .grid-cell {
    padding: 1em 0 0 1em; }

@media (min-width: 42em) {
  .large-grid-fit > .grid-cell {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }

  .large-grid-full > .grid-cell {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; } }
/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/
body {
  font-family: "Vollkorn", serif;
  font-weight: 300;
  color: #444;
  -webkit-text-size-adjust: 100%; }

.container {
  max-width: 60em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }

/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/
h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 1.7rem; }

h3 {
  font-size: 1.3rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }

p {
  font-size: 1.2rem;
  line-height: 1.5rem; }

.link-inline {
  text-decoration: none;
  color: #0074D9; }

/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/
.message {
  font-family: "Vollkorn", serif;
  font-size: 1.2em;
  padding: 1.2em; }
  .message a {
    color: #268bd2; }

.bg-light-gray {
  background: #f8f8f8; }

.bg-light-blue {
  background: #87cefa; }

.p-25 {
  padding: 25px; }
