/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/

body {
	font-family: $serif;
  font-weight: 300;
  color: $coal;
  -webkit-text-size-adjust: 100%;  //fix for iOS
}