/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
 	font-size: 19px;
  	line-height: 1.5;
  	@media (min-width: $bp-medium) {
  		font-size: 22px;
  	}
}

body {
  font-family: $serif;
  font-weight: 300;
  color: $coal;
  -webkit-text-size-adjust: 100%;  //fix for iOS
}

.container {
	max-width: $bp-medium;
  width: 90%;
  clear: left;
	display: block; // centers container
	margin-left: auto; // centers container
	margin-right: auto; // centers container
	padding-left: $unit-small; // adds spacing
	padding-right: $unit-small; // adds spacing
}

.content {
  padding: $unit-small;
  padding-top: $unit-medium;
  @media (min-width: $bp-small) {
    padding: $unit-medium;
  }
  @media (min-width: $bp-large) {
    padding: $unit-large;
  }
}
.content-small {
  padding: $unit-small;
  @media (min-width: $bp-small) {
    padding: $unit-medium;
  }
  @media (min-width: $bp-medium) {
    padding: $unit-medium;
  }
}

section {
  padding-top: $unit-small;
  padding-bottom: $unit-small;
  @media (min-width: $bp-medium) {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium;
  }
  p { // Really need to rethink this...
    &:last-of-type {
      margin-bottom: 0; // If a para is in a section remove 
    }
  }
}

.intro {
  min-height: 18em;
  color: $white;
  text-align: center;
}
    