/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/

body {
	font-family: $serif;
  font-weight: 300;
  color: $coal;
  -webkit-text-size-adjust: 100%;  //fix for iOS
}

.container {
	max-width: $bp-xlarge;
	display: block; // centers container
	margin-left: auto; // centers container
	margin-right: auto; // centers container
	padding-left: $unit-small; // adds spacing
	padding-right: $unit-small; // adds spacing
}