/*--------------------------------------------------------------------
 * Button
 *------------------------------------------------------------------*/

.button {
	font-family: $sans;
	padding: $unit-md $unit-lg;
	box-shadow: 0 12px 26px rgba(0,0,0,0.20), 0 8px 8px rgba(0,0,0,0.20);
	border-radius: $unit-sm/2;
	font-weight: $weight-semi;
	@extend .type-sm;
	text-decoration: none;
}

.button-light {
	background-color: $fog;
	color: $dark-coal;
}

.button-dark {
	background-color: $coal;
	color: $white;
}

.button-sm {
	font-family: $sans;
	padding: $unit-sm $unit-md;
	box-shadow: 0 12px 26px rgba(0,0,0,0.20), 0 8px 8px rgba(0,0,0,0.20);
	border-radius: $unit-sm/2;
	font-weight: $weight-semi;
	@extend .type-sm;
	text-decoration: none;
}