/*--------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------*/

 footer {
 	background-color: $dark-coal;
 	padding: $unit-xl;
 	margin-top: $unit-xxl;
 }