/*--------------------------------------------------------------------
 * Footer
 *------------------------------------------------------------------*/

 footer {
 	background-color: $dark-coal;
 	padding: $unit-xxl $unit-xl;
 	flex-shrink: 0;
 }