/*--------------------------------------------------------------------
 * Grid 
 * Adapted from Solved by Flexbox by Philip Walton 
 * http://philipwalton.github.io/solved-by-flexbox/
 *------------------------------------------------------------------*/

.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell {
  flex: 1;
}

// .grid-fit {
//   .grid-cell {
//     flex: 1;
//   }
// }

.grid-full {
  .grid-cell {
    flex: 0 0 100%;
  }
}

.grid-gutters {
  margin: -1em 0 1em -1em;
    .grid-cell {
      padding: 1em 0 0 1em;
    }
}

@media (min-width: $bp-medium) {
  .grid-full {
    .grid-cell {
      flex: 1;
    }
  }
  // .grid-fit {
  //   .grid-cell {
  //     flex: 0 0 100%;
  //   }
  // }
}

.grid-center {
  align-items: center;
  justify-content: center;
}

.grid-right {
    justify-content: flex-end !important;
}

.one-half {
  width: 50%;
}
.one-third {
  width: 33%;
}
