/*--------------------------------------------------------------------
 * Helper
 *------------------------------------------------------------------*/

 // pt = padding-top
 // pb = padding-bottom
 // mt = margin-top
 // mb = margin-bottom

.pt-sm {
	padding-top: $unit-sm;
}
.pt-md {
	padding-top: $unit-md;
}
.pt-lg {
	padding-top: $unit-lg;
}
.pt-xl {
	padding-top: $unit-xl;
}

.pb-sm {
	padding-bottom: $unit-sm;
}
.pb-md {
	padding-bottom: $unit-md;
}
.pb-lg {
	padding-bottom: $unit-lg;
}
.pb-xl {
	padding-bottom: $unit-xl;
}

.mt-sm {
	margin-top: $unit-sm;
}
.mt-md {
	margin-top: $unit-md;
}
.mt-lg {
	margin-top: $unit-lg;
}
.mt-xl {
	margin-top: $unit-xl;
}
.mt-xxl {
	margin-top: $unit-xxl;
}
.mt-xxxl {
	margin-top: $unit-xxl*4;
		@media (max-width: $width-md) {
			margin-top: $unit-xxl;
		}
}

.mb-sm {
	margin-bottom: $unit-sm;
}
.mb-md {
	margin-bottom: $unit-md;
}
.mb-lg {
	margin-bottom: $unit-lg;
}
.mb-xl {
	margin-bottom: $unit-xl;
}
.mb-xxl {
	margin-bottom: $unit-xxl;
}

.ml-sm {
	margin-left: $unit-sm;
}
.ml-md {
	margin-left: $unit-md;
}
.ml-lg {
	margin-left: $unit-lg;
}
.ml-xl {
	margin-left: $unit-xl;
}
.ml-xxl {
	margin-left: $unit-xxl;
}
