/*--------------------------------------------------------------------
 * Layout
 *------------------------------------------------------------------*/
html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

// Container Styles

.container {
	@media (max-width: $width-md) {
		margin-left: $unit-md;
		margin-right: $unit-md;
	}  
	margin-left: auto;
	margin-right: auto;
	flex: 1 0 auto;
}

.container-xl {
	max-width: $width-xl;
}

.container-lg {
	max-width: $width-lg;
}

.container-md {
	max-width: $width-md;
}

.dark-mode {
	background-color: $dark-coal;
}

// Card

.card {
	width: 100%;
	background-color: $white;
	border: 1px solid $fog;
	border-radius: $unit-sm/2;
	padding: $unit-lg $unit-md;
	box-shadow: 0 12px 26px rgba(0,0,0,0.20), 0 8px 8px rgba(0,0,0,0.20);
}


.intro-switch {
	max-width: ($unit-xxl + $unit-md);
	position: absolute;
  margin-left: ($unit-xxl + $unit-md);
  margin-top: -$unit-md;
}

.icon-xxl {
	max-width: $unit-xxl*2;
}

.divider-right {
	border-right: 1px solid $fog;
	@media (max-width: $width-md) {
		border-right: none;
	}
}

.case-study-img {
	max-width: 500px;
}

// Blob

.blob {
	position: absolute;
	right: 0;
  z-index: $z-1;
}

.blob-highlight {
  fill: $mint;
  top:-($unit-xxl*4);
  max-width: 800px;
  animation: move-reverse 20s ease-in-out infinite;
}

.blob-connect {
  fill: $plum;
  top:-($unit-xxl*3);
  max-width: 600px;
  animation: move 20s ease-in-out infinite;
}

.blob-swim {
  fill: $sky-blue;
  top:-($unit-xxl*3);
  max-width: 600px;
  left:0;
  animation: move-flip 20s ease-in-out infinite;
}

@keyframes move {
  0%   { transform: scale(1)   translate(10px, -30px); }
  75%  { transform: scale(1.1) translate(-100px, 10px) rotate(-20deg); }
  100% { transform: scale(1)   translate(10px, -30px); }
}

@keyframes move-reverse {
	100% { transform: scale(1)   translate(10px, -30px); }
	75%  { transform: scale(1.1) translate(-100px, 10px) rotate(-10deg); }
	25%  { transform: scale(0.8, 1) translate(-100px, 10px) rotate(20deg); }
  0%   { transform: scale(1)   translate(10px, -30px); }
  
}

@keyframes move-flip {
	100% { transform: scale(1)   translate(-10px, 30px); }
	75%  { transform: scale(1.1) translate(10px) rotate(-20deg); }
	25%  { transform: scale(1, 0.8) translate(-50px, 10px) rotate(10deg); }
  0%   { transform: scale(1)   translate(-10px, 30px); }
  
}


// Background Hero

.background-mint {
	background-color: $mint;
}

.background-fog {
	background-color: $fog;
}

.background-coal {
	background-color: $coal;
}

.background-coal-dark {
	background-color: $dark-coal;
}

.background-plum {
	background-color: $plum;
}

.background-cobalt {
	background-color: $cobalt;
}

// Timeline

.timeline	{
	position: relative;
	&:before {
		content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: $unit-sm/4;
    background: $coal;
	}

	ul {
		list-style: none;
    padding-left: $unit-sm;
	}

	span {
		display: block;
	}
}

.timeline-time {
	@extend .type-sm;
	@extend .type-bold;
	@extend .type-upper;
	margin-top: $unit-md;
	&:before {
		content: '';
    display: inline-block;
    position: relative;
    width: $unit-md;
    height: $unit-md;
    background: #fff;
    border: 3px solid $coal;
    border-radius: 100%;
    background-clip: padding-box;
    margin-left: -$unit-md;
    margin-right: $unit-sm;
    vertical-align: middle;
	}
}

.timeline-title {
	@extend .type-md;	
	margin-left: $unit-sm;
}

.timeline-activity {
	@extend .type-sm;
	color: $concrete;
	margin-left: $unit-sm;
}

// Dropcap
.drop-cap	{
	  width: $unit-xxl*3;
    height: $unit-xxl*3;
    text-align: center;
    color: $white;
    background-color: $sky-blue;
    font-size: $unit-xxl*2;
    line-height: $unit-xxl*3;
    margin-right: $unit-lg;
    float: left;
    display: block;
    position: relative;
    font-family: Georgia, serif;
    border-radius: $unit-sm;
}
