/*--------------------------------------------------------------------
 * Settings - Variables
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$sans: "Whitney SSm A", "Whitney SSm B", "Whitney", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$weight-book: 	400;
$weight-medium: 500;
$weight-semi:	600;

//--------------------------------------------------------------------
// Unit
//--------------------------------------------------------------------

$unit-sm:		8px;
$unit-md:		16px;
$unit-lg:		24px;
$unit-xl:		32px;
$unit-xxl:	40px;


//--------------------------------------------------------------------
// Widths
//--------------------------------------------------------------------

$width-sm: 480px;
$width-md: 680px;
$width-lg: 800px;
$width-xl: 1200px;


//--------------------------------------------------------------------
// Screen Sizes
//--------------------------------------------------------------------

$screen-sm: $width-sm;
$screen-md: $width-md;
$screen-lg: 744px;



//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$coal: 			#444d56;
$dark-coal:	#1C2024;
$concrete:	#959da5;
$fog:				#f6f8fa;
$link:			#4B88F0;
$ruby:			#E01D5A;
$white: 		#ffffff;
$mint:			#0EB76B;
$plum:			#8E8DBE;
$sky-blue:	#8CC2FF;
$cobalt:		#336DD8;


