/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/

.message {
	font-family:$serif;
	padding: 1.2em;
	p {
		margin-bottom: 0!important;
	}

	a {
		color: #268bd2;
	}
}

.bg-light-gray {
	background:$clouds;
}

.bg-gray {
	background:$silver;
}

.bg-light-blue {
	background:#d0ecfd;
}

.bg-coal {
	background: $coal;
}

.button {
	padding: $unit-small/2 $unit-small;
	border-radius: 4px;	
	text-decoration: none;
	font-family: $serif;
	font-size: 17px;
	font-weight: 600;
	display:inline-block;
}

.button-blue {
	background-color: $link-blue;
	color:$white;
	&:visited {
	    color: white;
  	}
}
// .button {
//   padding: 0.5rem;
//   border-radius: 4px;
//   max-width: 200px;
//   text-align: center;
//   text-decoration: none;
//   &:visited {
//     color: white;
//   }
// }

// .button-blue {
//     color: #fff;
//     background: #268bd2;
// }


.drop-shadow {
	box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}

.width-50 {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 50%;	
	}
}
.width-75 {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 75%;	
	}
}
.message {
  padding: 1rem;
  color: $white;
  font-size: .75rem;
  background-color: $coal;
}