/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/

.message {
	font-family:$serif;
	padding: 1.2em;
	p {
		margin-bottom: 0!important;
	}

	a {
		color: #268bd2;
	}
}

.bg-light-gray {
	background:$clouds;
}

.bg-gray {
	background:$silver;
}

.bg-light-blue {
	background:#d0ecfd;
}

.p-25 {
	padding: $unit-small;
}

.mt1 {
	margin-top: 1rem;
}

.mt-1 {
	margin-top: -1rem;
}

a.button {
	background-color: $link-blue;
	padding: $unit-small/2;
	border-radius: 2px;
	color:$white;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 17px;
	font-weight: 600;
}

.drop-shadow {
	box-shadow: 0px 0px 25px 0px #ccc;
}

.width-50 {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 50%;	
	}
}
.width-75 {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 75%;	
	}
}
.message {
  padding: 1rem;
  color: $white;
  font-size: .75rem;
  background-color: $coal;
}