/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/

.message {
	font-family:$serif;
	font-size: 1.2em;
	background:#f8f8f8;
	padding: 1.2em;

	a {
		color: #268bd2;
	}
}