/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/

h1 {
	font-size: 2rem;	
}

h2 {
	font-size: 1.5rem;	
}

h3 {
	font-size: 1.25rem;	
}

h4 {
	font-size: 1rem;	
}

h5 {
	font-size: 0.875rem;	
}

p {
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.link-inline {
	text-decoration: none;
	color: $blue;
}