/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------------

$bp-small:		26em;
$bp-medium:		35em;
$bp-large:		48em;
$bp-xlarge:		60em;

 //--------------------------------------------------------------------
// Import
//--------------------------------------------------------------------
@import "_grid.scss";
@import "_twitter-normalizer.scss";


/*--------------------------------------------------------------------
 * Darren Wants To Work At Twitter
 *------------------------------------------------------------------*/


// Colors 
$eventbrite-teal: 		#39c2c8; 
$eventbrite-gray: 		#f8f9ff;
$coal:					#3c3c3c;
$eventbrite-midnight:	#282c35;


// Typeface 
$font-sans:				"Helvetica",Helvetica,Arial,sans-serif;

// Units
$unit-xsmall:			12px;
$unit-small:			25px;
$unit-medium:			50px;
$unit-large:			100px;
$bp-medium:				600px;

// Structure 

body {
	font-family: $font-sans;
	webkit-font-smoothing: antialiased;
	font-weight: normal;
}
.container {
	max-width: 1050px;
  width: 90%;
  clear: left;
	display: block; // centers container
	margin-left: auto; // centers container
	margin-right: auto; // centers container
	padding-left: $unit-small; // adds spacing
	padding-right: $unit-small; // adds spacing
}

.content {
  padding: $unit-small;
  padding-top: $unit-medium;
  @media (min-width: $bp-small) {
    padding: $unit-medium;
  }
  @media (min-width: $bp-large) {
    padding: $unit-large;
  }
}
.content-small {
  padding: $unit-small;
  @media (min-width: $bp-small) {
    padding: $unit-medium;
  }
  @media (min-width: $bp-medium) {
    padding: $unit-medium;
  }
}

section {
  padding-top: $unit-small;
  padding-bottom: $unit-small;
  @media (min-width: $bp-medium) {
    padding-top: $unit-medium;
    padding-bottom: $unit-medium;
  }
  p { // Really need to rethink this...
    &:last-of-type {
      margin-bottom: 0; // If a para is in a section remove 
    }
  }
}
.midnight {
	background-color: $eventbrite-midnight;
	@media (min-width: $bp-medium) {
		padding-bottom: $unit-large*2.5;
		margin-top: $unit-medium;
	}
}
.body-text-padding {
	padding-left: $unit-small;
	padding-right: $unit-small;
	@media (min-width: $bp-medium) {
		padding-left: $unit-large;
		padding-right: $unit-large;
	}
}

.bg-gray {
	background-color: $eventbrite-gray;
}

// Type

h1 {
	font-size: 30px;
	font-weight: 100;
	@media (min-width: $bp-medium) {
		font-size: 60px;
	}
}

h2 {
	font-weight: 100;
	font-size: 20px;
	@media (min-width: $bp-medium) {
		font-size: 36px;
	}
}
.body-text {
	font-size: 15px;
	line-height: 1.2;
	color: $coal;
}
blockquote {
	margin: 0;
	font-size: 28px;
	font-weight: 100;
}
.text-white {
	color: #fff;
}
.card-text {
	background-color: #fff;
	padding:18px;
	max-width: 206px;
	margin-top: -4px;
	@media (min-width: $bp-medium) {
		max-width: 240px;
	}
}

.card-title {
	font-size: 24px;
	color: $coal;
	margin: 0;
	font-weight: 100;
}
.card-desc {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2px;
	color: #929499;
}


// Nav
nav {
	background-color: #fff;
	padding: 20px 20px 0 20px;
	position: fixed;
	width:100%;
	z-index: 200;
}
.logo {
	max-width: $unit-large;
}
.nav-actions {
	float: right;
	margin-top: -20px;
	margin-right: 20px;
	p {
		text-transform: uppercase;
		display: inline-block;
		text-align: right;
		font-size: $unit-xsmall;
		letter-spacing: 1px;
		font-weight: 100;
		@media (min-width: $bp-medium) {
			padding-right: 40px;	
		}
	}
}
.nav-button {
	padding: $unit-small;
	color:#fff;
	background-color: $eventbrite-teal;
	display: inline-block;
	text-transform: uppercase;
	font-size: $unit-xsmall;
	letter-spacing: 1px;

}

// Image

img {
	width: 100%;
}

.hero {
	position: relative;
	z-index: -200;
}

// Styles

.title {
	background-color: $eventbrite-gray;
	margin-top: -$unit-large + -$unit-medium;
	z-index: 300;
	h1 {
		padding:$unit-small;
		color: $coal;
		font-weight: 100;
		@media (min-width: $bp-medium) {
			padding:$unit-small $unit-large;
		}
	}
}
hr {
	width:78px;
	display: inline-block;
	height: 1px;
}
.rule-dark {
	background-color: #45484e;
}

.rule-light {
	background-color: #fff;
}

.button {
	padding: 17px 20px;
	border-radius: 4px;
	max-width: 150px;
	display: inline-block;
	margin-top: $unit-small;
	p {
		color: #fff;
		font-size: 15px;
		text-align: center;
		font-weight: 200;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin:0;
	}
}
.orange-gradient {
	background-image: -webkit-linear-gradient(36deg, #f5592f, #feb01f);
}

.pt-0 {
	padding-top: 0;
	@media (min-width: $bp-medium) {
		padding-top: 1em;
	}
}

.pl-50 {
	padding-left: 0;
	@media (min-width: $bp-medium) {
		padding-left: $unit-medium;
	}
}

.mt-20 {
	margin-top: 0;
	@media (min-width: $bp-medium) {
		margin-top: -$unit-large;
	}
}
.width-325 {
		max-width: 240px;
		padding-left: $unit-xsmall;
	@media (min-width: $bp-medium) {
		max-width: 325px;
	}
}

.card-hover {
	cursor: pointer;
	display: block;
	position: relative;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
	@media (min-width: $bp-medium) {
		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
			top:-2.5px; 
		}
	}
	img {
		margin:0;
	}
} 

// Animations 
#fade, #fade1 {
	visibility: hidden;
}


.card-fade{
	animation-name: fadeIn;

	animation-duration: 1.5s;	

	animation-timing-function: ease-in-out;	

	visibility: visible !important;	
}

@keyframes fadeIn {
	0% {
		opacity: 0.0;		
	}
	80% {
		opacity: 1;	
	}	
	100% {
		opacity: 1;	
	}		
}

#slide, #slide1, #slide2 {
	visibility: hidden;
}


.slide-up{
	animation-name: slideUp;

	animation-duration: 1s;	

	animation-timing-function: ease;	

	visibility: visible !important;			
}

@keyframes slideUp {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

// Pie Chart
.pie-container {
	@media (min-width: $bp-medium) {
	position: relative;
	margin-left: 100px;
	}
}
.pie {
	max-width: 240px;
	@media (min-width: $bp-medium) {
	position: absolute;
	}
}
.pie-sales {
	@media (min-width: $bp-medium) {
	left: 50px;
	}
}
.pie-tickets {
	@media (min-width: $bp-medium) {
	left: 300px;
	top:150px;
	}
}
.pie-shows {
	@media (min-width: $bp-medium) {
	left: 50px;
	top:300px;
	}
}

// Video
.video-container {
	position: relative;
}
video {
	width:100%;
	opacity: 0.2;
	background-color:#111; 
}
.video-text {
	width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
	z-index: 100;
	text-align: center;

}
.cta {
	background-color: #00A8FA;
	color:#fff;
	padding:11px 20px;
	text-transform: uppercase;
	font-size: 15px;
}








