<footer>
      <div class="content bg-deep-sea-blue">
        <p class="text-white text-center">Hand-typed by Darren Wong in San Francisco, California.</p>
        <div class="text-center">
          <a href="https://twitter.com/darrendub">
            <img class="social-icon" src="{{ site.baseurl }}/public/img/social/logo-twitter.svg">
          </a>
          <a href="https://dribbble.com/darrendub">
            <img class="social-icon" src="{{ site.baseurl }}/public/img/social/logo-dribbble.svg">
          </a>
        </div>
      </div>
</footer>