/*--------------------------------------------------------------------
 * Album
 *------------------------------------------------------------------*/

.album {
	width: 300px;
	height: 300px;
	position: relative;
	overflow:hidden;
	margin-bottom: 5em;
	@media (min-width: $bp-medium) {
		max-width: 500px;
		width: 500px;
		height: 500px;
	}
}

.album-title {
	margin-bottom:10px;
	
	// @media (min-width: $bp-medium) {
	// 	margin-bottom:-13px;
	// 	cursor: pointer;
	// 	transition: margin-bottom 1s ease;
	// 		&:hover {
	// 		margin-bottom: 10px;
	// 		}
	// }
}

// Views From The 6 

.views-6-eye {
	max-width: 83px;
	top: 20%;
    left: 26%;
    position: absolute;
}

.views-6 {
	max-width: 125px;
	top: 25%;
    left: 28%;
    position: absolute;
	@media (min-width: $bp-medium) {
		max-width: 250px;
		top: 20%;
    	left: 26%;
	}
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  animation: rotating 2.5s linear infinite;
}

// Thank Me Later 

.thank-me {
	max-width: 500px;
	position: absolute;
}
.z-1 {
	z-index:1;
}
.thank-me-logo {
	max-width: 50px;
	position: absolute;
	bottom: 21%;
	left: 6%;
	@media (min-width: $bp-medium) {
		max-width: 75px;
		bottom: 21%;
		left: 8%;	
	}
}

.thank-move {
	animation: thank-move 1s infinite;
	animation-timing-function: linear;
}

@keyframes thank-move {
  0% {
	
  }

  50% {
  	transform: translate(-2px,0);

  }
  100% {
  }
}


// If You're Reading This It's Too Late

@font-face { // http://www.deasti.com/late-free-download/
  font-family: 'Late-Regular';
  src: url('Late-Regular.woff2') format('woff2'),
       url('Late-Regular.woff') format('woff'),
       url('Late-Regular.ttf') format('truetype');
}

.if-text {
	font-family: 'Late-Regular';
	font-size:2.75em;
	padding-left:0.5em;
	white-space: nowrap;
  	overflow: hidden;
  	height:1.15em;
  	text-align:left;
  	white-space: nowrap;
  	overflow: hidden;
  	width: 30em;
  	margin:0;
  	animation: type 6s steps(60, end) infinite;
  	opacity:0;
  	@media (min-width: $bp-medium) {
		font-size:4em;
	}
  	
}

// Animation based on this pen: http://codepen.io/rusjames/pen/uAFhE by Rus James

.reading-delay-1 {
	animation-delay:1s;
}
.reading-delay-2 {
	animation-delay:2s;
}
.reading-delay-3 {
	animation-delay:3s;
}

@keyframes type{ 
  from { 
  	width: 0; 
  	opacity:1;
  }  
} 

.if-reading-parental {
	max-width:30px;
	position:absolute;
	right:5%;
	bottom: 5%;
	z-index:2;
	@media (min-width: $bp-medium) {
		max-width:50px;
	}
}

.cursor {
	animation: blink 1s infinite;
	margin-left:-40px;
	@media (min-width: $bp-medium) {
		margin-left:-78px;
	}
}

@keyframes blink{
  to{opacity: .0;}
}



// Views From The 6 (Beta)

.hide-mobile {
	display:none;
	@media (min-width: $bp-medium) {
		display:block;
	}
}

.views {
	z-index:1;
	position: absolute;
}

.eye-position-1 {
	top: 40%;
	left: 15%;
}
.eye-position-2 {
	top: 50%;
	left: 10%;
}

.eye-position-3 {
	top: 55%;
	left: 28%;
}

.eye-position-4	 {
	top: 44%;
	left: 30%;
}

.eye-position-5 {
	top: 40%;
	left: 37%;
}

.eye-position-6 {
	top: 55%;
	left: 46%;
}

.eye-position-7 {
	top: 42%;
    left: 62%;
	@media (min-width: $bp-medium) {
		left: 57%;
	}
}
.eye-position-8 {
	top: 45%;
	left: 64%;
}
.eye-position-9 {
	top: 56%;
	left: 57%;
}

.eye-position-10 {
	top: 54%;
	left: 72%;
}

.eye-position-11 {
	top: 40%;
	left: 82%;
}

.eye-position-12 {
	top: 50%;
	left: 85%;
}

.eye {
	width:30px;
	height:15px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	&:before {
		content:'';
		width:31px;
		height:16px;
		background-color: #000;
		border-radius: 50%;
		position: absolute;
		top:-21px;
		@extend .eye-blink;
	}
	@media (min-width: $bp-medium) {
		width:40px;
		height:20px;
			&:before {
			content:'';
			width:41px;
			height:21px;
			}
	}
}
.eye-ball {
	width:15px;
	height:15px;
	border-radius: 100%;
	background-color: #000;
	margin-top:10%;
}

.eye-blink {
	animation: eye-blink 3s infinite;
	animation-timing-function: ease;
}

@keyframes eye-blink {
  0% {
	
  }

  50% {
  	transform: translate(0,20px);

  }
  100% {
  }
}

.eye-small {
	width: 30px;
	height: 15px;

	&:before {
		content:'';
		width:31px;
		height:16px;
		background-color: #000;
		border-radius: 50%;
		position: absolute;
		top:-16px;
		@extend .eye-blink-sm;
	}

	.eye-ball {
		width: 12px;
		height: 12px;
	}
}

.eye-blink-sm {
	animation: eye-blink-sm 2s infinite;
	animation-timing-function: ease;
}

@keyframes eye-blink-sm {
  0% {
	
  }

  50% {
  	transform: translate(0,16px);

  }
  100% {
  }
}

.eye-medium {
	width: 35px;
	height: 17px;

	&:before {
		content:'';
		width:35px;
		height:17px;
		background-color: #000;
		border-radius: 50%;
		position: absolute;
		top:-17px;
		@extend .eye-blink-md;
	}

	.eye-ball {
		width: 14px;
		height: 14px;
	}
}

.eye-blink-md {
	animation: eye-blink-md 3s infinite;
	animation-timing-function: ease;
}

@keyframes eye-blink-md {
  0% {
	
  }

  50% {
  	transform: translate(0,17px);

  }
  100% {
  }
}


// Take Care
.candle {
	position:absolute;
	top: 6%;
    right: 21.2%;
	width: 11px;
	@media (min-width: $bp-medium) {
		top:8%;
		right: 21.8%;
	}
}

.take-care-logo {
	position:absolute;
	bottom: 8%;
    left: 7%;
    max-width: 100px;
    @media (min-width: $bp-medium) {
		max-width: 150px;
	}
}

.flicker {
	animation: flicker 4s infinite;
	animation-timing-function: linear;
}

@keyframes flicker {
  0% {
  	opacity:0.8;
	
  }

  25% {
  	opacity: 0.5;
  }
  50% {
  	transform:rotate(25deg);
  	opacity:1;

  }
  75% {
  	opacity: 0.25;
  }
  100% {
  	opacity:0.8;
  }
}

// What A Time To Be Alive
.sparkle {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #fff;
	position: relative;
	top: -10px;
		&:after {
		content: '';
		position: absolute;
		left: -10px;
		top: 10px;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top-color: #fff;
		}
}


@keyframes sparkle {
  0% {
  	opacity:1;
  }
  25%{
  	transform:scale(1.5);
  }
  50% {
  }
  75% {
  	transform:scale(1);
  }
  100% {
  	opacity:0;
  }
}

.sparkle {
	animation: sparkle 1.75s infinite;
	animation-timing-function: linear;
}

.center-top {
	position: absolute;
	top: 5%;
	left: 50%;
	animation-delay:0.75s;
}
.center-right{
	position: absolute;
	top: 41%;
	left: 75%;
	animation-delay:1s;
}
.center-left{
	position: absolute;
	top: 19%;
	left: 18%;
	animation-delay:2s;
}

.center-middle{
	position: absolute;
	top: 53%;
	left: 34%;
	animation-delay:1.5s;
}

.center-middle-right{
	position: absolute;
	top: 15%;
	left: 92%;
	animation-delay:3s;
}
.center-bottom{
	position: absolute;
	top: 92%;
	left: 12%;
	animation-delay:3s;
}

.center-bottom-right{
	position: absolute;
	top: 83%;
	left: 80%;
	animation-delay:0.5s;
}


// Nothing Was The Same

.nwts-drake {
	max-width: 200px;
	position: absolute;
	bottom: 0;
	left: 25%;
	@media (min-width: $bp-medium) {
		max-width: 300px;
	}	
}

.nwts-album {
	background:url(../img/nwts-clouds-2.png);
	height: auto;
	width: 1500px;
	@media (min-width: $bp-medium) {
		width: 2000px;
		height: 500px;
	}
}

.nwts-logo {
	max-width:70px;
	position:absolute;
	left:5%;
	bottom: 5%;
	@media (min-width: $bp-medium) {
		max-width: 100px;
	}
}
.nwts-parental {
	max-width:60px;
	position:absolute;
	right:5%;
	top: 5%;
}

.clouds {
	animation: clouds 4s infinite;
	animation-timing-function: linear;
}

// @keyframes clouds {
//   0% {
//     transform: translate(0px);
//   }
//   100% {
//   	transform: translate(-1200px);
//   }
// }

@-webkit-keyframes clouds {
  0% {
  	transform: translate(-1000px); 
  }
  50% {
  	transform: translate(0px); 
  }
  100% {
  	transform: translate(-1000px); 
  } 
}

@media (min-width: $bp-medium) {
@keyframes clouds {
  0% {
  	transform: translate(0px);
  }
  100% {
  	transform: translate(-1450px);
  }
}
	}


// So Far Gone

.so-far-gone-drake {
	max-width: 220px;
	position: absolute;
	bottom: 20%;
	left: 14%;
	@media (min-width: $bp-medium) {
		max-width: 300px;
		bottom: 30%;
		left: 20%;
	}
}

.so-far-gone-confetti {
	max-width: 40px;
	position: absolute;
	@media (min-width: $bp-medium) {
		max-width: 60px;
	}
}

.money-1 {
	top: -10%;
	right: 40%;
}

.money-2 {
	top: -20%;
	right: 60%;
}

.money-3 {
	top: -40%;
	right: 50%;
}
.money-4 {
	top: -45%;
	right: 20%;
}
.money-5 {
	top: -20%;
	right: 10%;
}
.money-6 {
	top: -30%;
	left: 5%;
}
.money-7 {
	top: -15%;
	left: 10%;
}

.heart-1 {
	top: -40%;
	right: 65%;
}

.heart-2 {
	top: -20%;
	right: 38%;
	max-width: 30px;
}

.heart-3 {
	top: -30%;
	right: 15%;
	max-width: 40px;
}

.rain {
	animation: rain 3s infinite;
	animation-timing-function: linear;
}
.rain-delay {
	animation-delay:2s;
}

@keyframes rain {
  0% {
  }
  100% {
    top: 120%;
  }
}

