/*--------------------------------------------------------------------
 * Mixins
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Clearfix
//--------------------------------------------------------------------

@mixin clearfix {
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

@mixin clearboth {
  clear: both;
}

//--------------------------------------------------------------------
// Vertically Align
//--------------------------------------------------------------------

@mixin vertical-align {
  position: relative;
  top: 50%;
  transform: (translateY(-50%));
}



//--------------------------------------------------------------------
// Full Bleed
//--------------------------------------------------------------------

@mixin full-bleed {
  width: 100%;
  max-width: 100%;
  margin: 0;
	padding-left: 0;
	padding-right: 0;
}