/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$serif: 'Vollkorn', serif;
$sans: 'Chivo', sans-serif;

//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$coal: #444;
$white: #fff;
$deep-sea-blue: #2c3e50;
$blue:	#0074D9;
$link-blue: #268bd2;
$clouds: #f8f8f8;
$silver: #e1e1e1;

//--------------------------------------------------------------------
// Spacing
//--------------------------------------------------------------------

$unit-small:	25px;
$unit-medium:	50px;
$unit-large:	100px;


//--------------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------------

$bp-small:		26em;
$bp-medium:		35em;
$bp-large:		48em;
$bp-xlarge:		60em;

//--------------------------------------------------------------------
// Z Index
//--------------------------------------------------------------------

$z-100:			100;
$z-200:			200;
$z-300:			300;	

//--------------------------------------------------------------------
// Widths
//--------------------------------------------------------------------

.one-whole {
	width: 100%;
}

.one-half {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 50%;	
	}
}

.one-third {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 33%;	
	}
}
.two-thirds {
	width: 100%;
	@media (min-width: $bp-medium) {
		width: 75%;	
	}
}