/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/

//--------------------------------------------------------------------
// Type
//--------------------------------------------------------------------

$serif: 'Vollkorn', serif;
$sans-bold: 'SantaAna-SemiBold', sans-serif;
$sans-reg: 'SantaAna-Regular', sans-serif;

//--------------------------------------------------------------------
// Color
//--------------------------------------------------------------------

$coal: #444;
$white: #fff;
$deep-sea-blue: #2c3e50;
$blue:	#0074D9;
$link-blue: #268bd2;
$clouds: #f8f8f8;
$silver: #e1e1e1;
$big-boy-blue: #358BC9;
$baby-blue: #59BCFB;


//--------------------------------------------------------------------
// Spacing
//--------------------------------------------------------------------

$unit-xsmall:	  8px;
$unit-small:	  16px;
$unit-med:		  24px;
$unit-large:    32px;
$unit-xlarge:	  40px;
$unit-xxlarge:  48px;

//--------------------------------------------------------------------
// Padding
//--------------------------------------------------------------------

.padding-small { 
  padding: $unit-small;
}

//--------------------------------------------------------------------
// Breakpoints
//--------------------------------------------------------------------

$bp-small:		26em;
$bp-medium:		35em;
$bp-large:		48em;
$bp-xlarge:		60em;

//--------------------------------------------------------------------
// Z Index
//--------------------------------------------------------------------

$z-100:			100;
$z-200:			200;
$z-300:			300;	

//--------------------------------------------------------------------
// Helper
//--------------------------------------------------------------------
.center {
	margin-left: auto;
  margin-right: auto;
  display: block;
}

.bg-white {
	background-color: $white;
}

.bg-black {
  background-color: #000;
}




