/*--------------------------------------------------------------------
 * Shame - Temporary Styles
 *------------------------------------------------------------------*/

.message {
	font-family:$serif;
	padding: 1em;
	padding: 1em;
	color: $coal;
	font-size: .6rem;
	text-align: center;
		p {
			margin-bottom: 0!important;
		}

		a {
			color: #268bd2;
		}
}

.bg-light-gray {
	background-color:$clouds;
}

.bg-white {
	background-color: $white;
}
.bg-black {
	background-color: #000;
}

.bg-deep-sea-blue {
	background-color: #2c3e50;
}

.button {
	padding: $unit-small/2 $unit-small;
	border-radius: 4px;	
	text-decoration: none;
	font-family: $serif;
	font-size: 17px;
	font-weight: 600;
	display:inline-block;
}

.button-dark {
	background-color: rgba(0, 0, 0, 0.6);
	background-blend-mode: multiply;
	color:$white;
	&:visited {
	    color: white;
  	}
}

.button-blue {
	background-color: $link-blue;
	color:$white;
	&:visited {
	    color: white;
  	}
}

.drop-shadow {
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
}

.rounded-corners {
	border-radius: 6px;
}



