/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/

 h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $sans-reg;
  
}

@font-face { 
     font-family: 'SantaAna-SemiBold';
  src: url('SantaAna-SemiBold.woff') format('woff'),
       url('SantaAna-SemiBold.woff2') format('woff2');
     font-family: 'SantaAna-Regular';
  src: url('SantaAna-Regular.woff') format('woff'),
       url('SantaAna-Regular.woff2') format('woff2');
}

