/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/

html {
	-webkit-font-smoothing: antialiased;
}

body {
  -webkit-text-size-adjust: 100%;  //fix for iOS
  background: linear-gradient(180deg, #59BCFB 0%, #358BC9 100%);
}
    