/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

img {
  width: 100%; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/
.one-whole {
  width: 100%; }

.one-half {
  width: 100%; }
  @media (min-width: 35em) {
    .one-half {
      width: 50%; } }
.one-third {
  width: 100%; }
  @media (min-width: 35em) {
    .one-third {
      width: 33%; } }
.two-thirds {
  width: 100%; }
  @media (min-width: 35em) {
    .two-thirds {
      width: 75%; } }
/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  font-size: 19px;
  line-height: 1.5; }
  @media (min-width: 35em) {
    html {
      font-size: 22px; } }
body {
  font-family: "Vollkorn", serif;
  font-weight: 300;
  color: #444;
  -webkit-text-size-adjust: 100%; }

.container {
  max-width: 35em;
  width: 90%;
  clear: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px; }

.content {
  padding: 25px;
  padding-top: 50px; }
  @media (min-width: 26em) {
    .content {
      padding: 50px; } }
  @media (min-width: 48em) {
    .content {
      padding: 100px; } }
.content-small {
  padding: 25px; }
  @media (min-width: 26em) {
    .content-small {
      padding: 50px; } }
  @media (min-width: 35em) {
    .content-small {
      padding: 50px; } }
section {
  padding-top: 25px;
  padding-bottom: 25px; }
  @media (min-width: 35em) {
    section {
      padding-top: 50px;
      padding-bottom: 50px; } }
  section p:last-of-type {
    margin-bottom: 0; }

.intro {
  min-height: 18em;
  color: #fff;
  text-align: center; }

/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Chivo", sans-serif; }

/*--------------------------------------------------------------------
 * Album
 *------------------------------------------------------------------*/
.album {
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-bottom: 5em; }
  @media (min-width: 35em) {
    .album {
      max-width: 500px;
      width: 500px;
      height: 500px; } }
.album-title {
  margin-bottom: 10px; }

.scorpion-autograph {
  width: 134px;
  position: absolute;
  bottom: 10px;
  right: 12px;
  fill: none;
  stroke: #aaa9aa;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 6px;
  opacity: .75;
  border: 0; }
  @media (min-width: 35em) {
    .scorpion-autograph {
      bottom: 20px;
      width: 230px; } }
.first {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite; }

.last {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash-delay 5s linear infinite; }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash-delay {
  35% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

.more-life-smoke {
  width: 73px;
  position: absolute;
  left: 27%;
  top: 28px;
  animation: smoke 2s infinite;
  animation-timing-function: linear;
  animation-direction: alternate; }
  @media (min-width: 35em) {
    .more-life-smoke {
      width: 125px; } }
.more-life-flicker {
  width: 6px;
  height: 3px;
  background-color: #fd6923;
  position: absolute;
  border-radius: 100%;
  animation: more-life-flicker 6s infinite;
  left: 43.3%;
  top: 49.3%;
  opacity: 0;
  transform: rotate(15deg); }

@keyframes smoke {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    top: 20px; } }

@keyframes more-life-flicker {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0; }
  100% {
    opacity: 0.5; } }

.views-6-eye {
  max-width: 83px;
  top: 20%;
  left: 26%;
  position: absolute; }

.views-6 {
  max-width: 125px;
  top: 25%;
  left: 28%;
  position: absolute; }
  @media (min-width: 35em) {
    .views-6 {
      max-width: 250px;
      top: 20%;
      left: 26%; } }
@keyframes rotating {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.rotating {
  animation: rotating 2.5s linear infinite; }

.thank-me {
  max-width: 500px;
  position: absolute; }

.z-1 {
  z-index: 1; }

.thank-me-logo {
  max-width: 50px;
  position: absolute;
  bottom: 21%;
  left: 6%; }
  @media (min-width: 35em) {
    .thank-me-logo {
      max-width: 75px;
      bottom: 21%;
      left: 8%; } }
.thank-move {
  animation: thank-move 1s infinite;
  animation-timing-function: linear; }

@keyframes thank-move {
  0% { }
  50% {
    transform: translate(-2px, 0); }
  100% { } }

@font-face {
  font-family: 'Late-Regular';
  src: url("Late-Regular.woff2") format("woff2"), url("Late-Regular.woff") format("woff"), url("Late-Regular.ttf") format("truetype"); }

.if-text {
  font-family: 'Late-Regular';
  font-size: 2.75em;
  padding-left: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  height: 1.15em;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  margin: 0;
  animation: type 6s steps(60, end) infinite;
  opacity: 0; }
  @media (min-width: 35em) {
    .if-text {
      font-size: 4em; } }
.reading-delay-1 {
  animation-delay: 1s; }

.reading-delay-2 {
  animation-delay: 2s; }

.reading-delay-3 {
  animation-delay: 3s; }

@keyframes type {
  from {
    width: 0;
    opacity: 1; } }

.if-reading-parental {
  max-width: 30px;
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 2; }
  @media (min-width: 35em) {
    .if-reading-parental {
      max-width: 50px; } }
.cursor {
  animation: blink 1s infinite;
  margin-left: -40px; }
  @media (min-width: 35em) {
    .cursor {
      margin-left: -78px; } }
@keyframes blink {
  to {
    opacity: .0; } }

.hide-mobile {
  display: none; }
  @media (min-width: 35em) {
    .hide-mobile {
      display: block; } }
.views {
  z-index: 1;
  position: absolute; }

.eye-position-1 {
  top: 40%;
  left: 15%; }

.eye-position-2 {
  top: 50%;
  left: 10%; }

.eye-position-3 {
  top: 55%;
  left: 28%; }

.eye-position-4 {
  top: 44%;
  left: 30%; }

.eye-position-5 {
  top: 40%;
  left: 37%; }

.eye-position-6 {
  top: 55%;
  left: 46%; }

.eye-position-7 {
  top: 42%;
  left: 62%; }
  @media (min-width: 35em) {
    .eye-position-7 {
      left: 57%; } }
.eye-position-8 {
  top: 45%;
  left: 64%; }

.eye-position-9 {
  top: 56%;
  left: 57%; }

.eye-position-10 {
  top: 54%;
  left: 72%; }

.eye-position-11 {
  top: 40%;
  left: 82%; }

.eye-position-12 {
  top: 50%;
  left: 85%; }

.eye {
  width: 30px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute; }
  .eye:before {
    content: '';
    width: 31px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -21px; }
  @media (min-width: 35em) {
    .eye {
      width: 40px;
      height: 20px; }
      .eye:before {
        content: '';
        width: 41px;
        height: 21px; } }
.eye-ball {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #000;
  margin-top: 10%; }

.eye-blink, .eye:before {
  animation: eye-blink 3s infinite;
  animation-timing-function: ease; }

@keyframes eye-blink {
  0% { }
  50% {
    transform: translate(0, 20px); }
  100% { } }

.eye-small {
  width: 30px;
  height: 15px; }
  .eye-small:before {
    content: '';
    width: 31px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -16px; }
  .eye-small .eye-ball {
    width: 12px;
    height: 12px; }

.eye-blink-sm, .eye-small:before {
  animation: eye-blink-sm 2s infinite;
  animation-timing-function: ease; }

@keyframes eye-blink-sm {
  0% { }
  50% {
    transform: translate(0, 16px); }
  100% { } }

.eye-medium {
  width: 35px;
  height: 17px; }
  .eye-medium:before {
    content: '';
    width: 35px;
    height: 17px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: -17px; }
  .eye-medium .eye-ball {
    width: 14px;
    height: 14px; }

.eye-blink-md, .eye-medium:before {
  animation: eye-blink-md 3s infinite;
  animation-timing-function: ease; }

@keyframes eye-blink-md {
  0% { }
  50% {
    transform: translate(0, 17px); }
  100% { } }

.candle {
  position: absolute;
  top: 6%;
  right: 21.2%;
  width: 11px; }
  @media (min-width: 35em) {
    .candle {
      top: 8%;
      right: 21.8%; } }
.take-care-logo {
  position: absolute;
  bottom: 8%;
  left: 7%;
  max-width: 100px; }
  @media (min-width: 35em) {
    .take-care-logo {
      max-width: 150px; } }
.flicker {
  animation: flicker 4s infinite;
  animation-timing-function: linear; }

@keyframes flicker {
  0% {
    opacity: 0.8; }
  25% {
    opacity: 0.5; }
  50% {
    transform: rotate(25deg);
    opacity: 1; }
  75% {
    opacity: 0.25; }
  100% {
    opacity: 0.8; } }

.sparkle {
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  position: relative;
  top: -10px; }
  .sparkle:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: #fff; }

@keyframes sparkle {
  0% {
    opacity: 1; }
  25% {
    transform: scale(1.5); }
  50% { }
  75% {
    transform: scale(1); }
  100% {
    opacity: 0; } }

.sparkle {
  animation: sparkle 1.75s infinite;
  animation-timing-function: linear; }

.center-top {
  position: absolute;
  top: 5%;
  left: 50%;
  animation-delay: 0.75s; }

.center-right {
  position: absolute;
  top: 41%;
  left: 75%;
  animation-delay: 1s; }

.center-left {
  position: absolute;
  top: 19%;
  left: 18%;
  animation-delay: 2s; }

.center-middle {
  position: absolute;
  top: 53%;
  left: 34%;
  animation-delay: 1.5s; }

.center-middle-right {
  position: absolute;
  top: 15%;
  left: 92%;
  animation-delay: 3s; }

.center-bottom {
  position: absolute;
  top: 92%;
  left: 12%;
  animation-delay: 3s; }

.center-bottom-right {
  position: absolute;
  top: 83%;
  left: 80%;
  animation-delay: 0.5s; }

.nwts-drake {
  max-width: 200px;
  position: absolute;
  bottom: 0;
  left: 25%; }
  @media (min-width: 35em) {
    .nwts-drake {
      max-width: 300px; } }
.nwts-album {
  background: url(../img/nwts-clouds-2.png);
  height: 300px;
  width: 1500px; }
  @media (min-width: 35em) {
    .nwts-album {
      width: 2000px;
      height: 500px; } }
.nwts-logo {
  max-width: 70px;
  position: absolute;
  left: 5%;
  bottom: 5%; }
  @media (min-width: 35em) {
    .nwts-logo {
      max-width: 100px; } }
.nwts-parental {
  max-width: 60px;
  position: absolute;
  right: 5%;
  top: 5%; }

.clouds {
  animation: clouds 4s infinite;
  animation-timing-function: linear; }

@-webkit-keyframes clouds {
  0% {
    transform: translate(-1000px); }
  50% {
    transform: translate(0px); }
  100% {
    transform: translate(-1000px); } }

@media (min-width: 35em) {
  @keyframes clouds {
    0% {
      transform: translate(0px); }
    100% {
      transform: translate(-1450px); } } }

.so-far-gone-drake {
  max-width: 220px;
  position: absolute;
  bottom: 20%;
  left: 14%; }
  @media (min-width: 35em) {
    .so-far-gone-drake {
      max-width: 300px;
      bottom: 30%;
      left: 20%; } }
.so-far-gone-confetti {
  max-width: 40px;
  position: absolute; }
  @media (min-width: 35em) {
    .so-far-gone-confetti {
      max-width: 60px; } }
.money-1 {
  top: -10%;
  right: 40%; }

.money-2 {
  top: -20%;
  right: 60%; }

.money-3 {
  top: -40%;
  right: 50%; }

.money-4 {
  top: -45%;
  right: 20%; }

.money-5 {
  top: -20%;
  right: 10%; }

.money-6 {
  top: -30%;
  left: 5%; }

.money-7 {
  top: -15%;
  left: 10%; }

.heart-1 {
  top: -40%;
  right: 65%; }

.heart-2 {
  top: -20%;
  right: 38%;
  max-width: 30px; }

.heart-3 {
  top: -30%;
  right: 15%;
  max-width: 40px; }

.rain {
  animation: rain 3s infinite;
  animation-timing-function: linear; }

.rain-delay {
  animation-delay: 2s; }

@keyframes rain {
  0% { }
  100% {
    top: 120%; } }
