/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/

.list-disc {
    list-style-type: disc;
}

.list-inside {
    list-style-position: inside;
}

.list-outside {
    list-style-position: outside;
}

.font-normal {
    font-weight: 400;  
} 

.font-bold {
    font-weight: 700;
} 

.font-white {
    color: $white;
}

$sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

