/*--------------------------------------------------------------------
 * Units
 *------------------------------------------------------------------*/

$unit-4:    4px;
$unit-8:    8px;
$unit-16:   16px;
$unit-18:   18px;
$unit-24:   24px;
$unit-32:   32px;
$unit-40:   40px;

$weight-book:     400;
$weight-medium:   500;
$weight-semi:     600;

$dark-400:  #060606;
$dark-300:  #131315;
$dark-200:  #232226;
$dark-100:  #D1D6DF;

$white:     #ffffff;  