<!DOCTYPE html>
<html lang="en">

  {% include live-head.html %}

<body>
  <div class="menu-container">
    <a class="menu" id="menu">
      <span>Darren Wong &#9776;</span>
    </a>
</div>
<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Work</a></li>
    <li><a href="{{ site.baseurl }}/weblog">Words</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
  <div class="message">Hey hi! I am currently developing this site in the open. <a href="{{ site.baseurl }}/weblog/2015/04/15/open-redesign/">Here's why</a> and here is a <a href="{{ site.baseurl }}/timeline">timeline</a> for updates.
</div>
</nav>

    {{ content }}
    {% include footer.html %} 

  </body>
  <script>
$('#menu').click(function(){
  $('nav').toggleClass("is-visible");
  $(window).scroll(function () {
    $('nav').removeClass("is-visible", ($(window).scrollTop() > 100));
   });
});
</script>
</html>
