<!DOCTYPE html>
<html lang="en">

  {% include live-head.html %}

<body>
  <div class="menu-container">
    <a class="menu" id="menu">
      <span>Darren Wong &#9776;</span>
    </a>
</div>
<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Work</a></li>
    <li><a href="{{ site.baseurl }}/weblog">Words</a></li>
    <li><a href="{{ site.baseurl }}/about">About</a></li>
  </ul>
  <div class="message">Hey hi! I am currently developing this site in the open. <a href="{{ site.baseurl }}/weblog/2015/04/15/open-redesign/">Here's why</a> and here is a <a href="{{ site.baseurl }}/timeline">timeline</a> for updates.
</div>
</nav>

    {{ content }}
    <footer>
      <div class="content bg-deep-sea-blue">
        <p class="text-white text-center">Hand-typed by Darren Wong in San Francisco, California.</p>
        <div class="text-center">
          <a href="https://twitter.com/darrendub">
            <img class="social-icon" src="{{ site.baseurl }}/public/img/social/logo-twitter.svg">
          </a>
          <a href="https://dribbble.com/darrendub">
            <img class="social-icon" src="{{ site.baseurl }}/public/img/social/logo-dribbble.svg">
          </a>
        </div>
      </div>
    </footer>

  </body>
  <script>
$('#menu').click(function(){
  $('nav').toggleClass("is-visible");
  $(window).scroll(function () {
    $('nav').removeClass("is-visible", ($(window).scrollTop() > 100));
   });
});
</script>
</html>
