<!DOCTYPE html>
<html lang="en">

  {% include live-head.html %}
  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@darrendub" />
  <meta name="twitter:title" content="Darren Wong" />
  <meta name="twitter:description" content="A designer and developer for screens and things." />
  <meta name="twitter:image" content="http://darrendub.com/public/img/home/avatar.png" />

  <meta property="og:title" content="Darren Wong">
  <meta property="og:type" content="Website">
  <meta property="og:image" content="http://darrendub.com/public/img/home/avatar.png">
  <meta property="og:url" content="http://darrendub.com/">
  <meta property="og:description" content="A designer and developer for screens and things.">
  <meta property="og:site_name" content="Darren Wong">
  <meta property="og:locale" content="en_US">
  <meta property="article:author" content="Darren Wong">

<body>
  <div class="menu-container">
    <a class="darren-logo" href="/">
    <img class="nav-avatar" src="{{ site.baseurl }}/public/img/home/avatar.png">
    </a>
    <h4 class="text-center">Darren Wong</h4>
    <ul class="nav-links">
    <li><a href="/">Work</a></li>
    <li><a href="/words">Words</a></li>
    <li><a href="/about">Who</a></li>
    </ul>
</div>

    {{ content }}
    {% include footer.html %} 

  </body>
</html>
