/*--------------------------------------------------------------------
 * darrendub.com
 *------------------------------------------------------------------*/
/*--------------------------------------------------------------------
 * Reset
 *------------------------------------------------------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, big, blockquote, body, canvas, caption, center, cite,
code, dd, del, details, dfn, dl, dt, em, embed, fieldset,
figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6,
header, hgroup, html, i, iframe, img, ins, input, kbd, label,
legend, li, mark, menu, nav, object, ol, output, p, pre,
q, ruby, s, samp, section, small, span, strike, strong, sub,
summary, sup, table, tbody, td, textarea, tfoot, th, thead, time,
tr, tt, u, ul, var, video, :before, :after, div, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

img {
  width: 100%; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*--------------------------------------------------------------------
 * Settings - Variables for project
 *------------------------------------------------------------------*/
.padding-small {
  padding: 16px; }

.center {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.bg-white {
  background-color: #fff; }

.bg-black {
  background-color: #000; }

/*--------------------------------------------------------------------
 * Base
 *------------------------------------------------------------------*/
html {
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(180deg, #59BCFB 0%, #358BC9 100%); }

body {
  -webkit-text-size-adjust: 100%; }

/*--------------------------------------------------------------------
 * Type
 *------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "SantaAna-Regular", sans-serif; }

@font-face {
  font-family: 'SantaAna-SemiBold';
  src: url("SantaAna-SemiBold.woff") format("woff"), url("SantaAna-SemiBold.woff2") format("woff2");
  font-family: 'SantaAna-Regular';
  src: url("SantaAna-Regular.woff") format("woff"), url("SantaAna-Regular.woff2") format("woff2"); }

/*--------------------------------------------------------------------
 * Album
 *------------------------------------------------------------------*/
header {
  padding: 40px 24px; }

.logo {
  display: block;
  margin: 0 auto;
  padding-bottom: 24px;
  max-width: 300px; }

.dca-1 {
  animation: dca-1 4s ease-in-out alternate infinite; }

@keyframes dca-1 {
  0% {
    transform: translateY(4px); }
  50% {
    transform: translateY(2px); }
  100% {
    transform: translateY(4px); } }

.dca-2 {
  animation: dca-2 4s ease-in-out infinite; }

@keyframes dca-2 {
  0% {
    transform: translateY(2px); }
  50% {
    transform: translateY(4px); }
  100% {
    transform: translateY(2px); } }

.share-button {
  padding: 16px 24px;
  background-blend-mode: multiply;
  background-color: #358BC9;
  color: #fff;
  display: flex;
  justify-content: center;
  text-decoration: none;
  border-radius: 40px;
  max-width: 150px;
  margin: 0 auto; }
  .share-button:hover, .share-button:active {
    background-color: #59BCFB;
    transition: background-color .5s ease-in-out; }

.share-twitter {
  max-width: 24px;
  margin-right: 8px;
  margin-top: 6px; }

.share-text {
  color: #fff;
  font-size: 24px;
  font-family: "SantaAna-Regular", sans-serif; }

footer {
  font-family: "SantaAna-Regular", sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  padding: 24px;
  margin: 0 auto; }

.text-link {
  color: #fff;
  text-decoration: underline;
  font-weight: bold; }
  .text-link:active, .text-link:visited {
    color: #fff; }
  .text-link:hover {
    opacity: .8;
    transition: opacity .5s ease-in-out; }

.album-cover {
  height: 300px;
  width: 300px;
  box-shadow: 1px 2px 2px rgba(51, 102, 204, 0.2), 2px 4px 4px rgba(51, 102, 204, 0.2), 4px 8px 8px rgba(51, 102, 204, 0.2), 8px 16px 16px rgba(51, 102, 204, 0.2), 16px 32px 32px rgba(51, 102, 204, 0.2);
  border-radius: 8px;
  overflow: hidden;
  position: relative; }

.album-title {
  font-size: 32px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  padding: 0 8px; }

.album-year {
  font-size: 16px;
  text-align: center;
  color: #fff;
  font-family: "SantaAna-Regular", sans-serif; }

.cbs-bg {
  background: url(../img/cbs/bg-cbs.jpg) center no-repeat #9B5A31;
  z-index: -1; }

.cbs-drake {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative; }

.cbs-album-title {
  position: absolute;
  bottom: 0;
  left: 0; }

svg.leaf {
  position: absolute; }
  svg.leaf rect {
    fill: #C77D4E;
    transform: skew(24deg);
    width: 24px;
    height: 24px;
    border-radius: 24px 0px;
    animation: fall 700ms infinite ease-out; }
  svg.leaf rect:nth-child(1) {
    fill: #C77D4E;
    animation-delay: 88ms;
    animation-duration: 1000ms; }
  svg.leaf rect:nth-child(2) {
    fill: #C1852B;
    animation-delay: 311ms;
    animation-duration: 900ms; }
  svg.leaf rect:nth-child(3) {
    fill: #D58836;
    animation-delay: 105ms;
    animation-duration: 700ms; }
  svg.leaf rect:nth-child(4) {
    fill: #D3A945;
    animation-delay: 149ms;
    animation-duration: 800ms; }
  svg.leaf rect:nth-child(5) {
    fill: #B65E29;
    animation-delay: 88ms;
    animation-duration: 1000ms; }
  svg.leaf rect:nth-child(6) {
    fill: #D59740;
    animation-delay: 131ms;
    animation-duration: 442ms; }
  svg.leaf rect:nth-child(odd) {
    z-index: 2; }

@keyframes fall {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  to {
    transform: translateY(300px); } }

.sfg-bg {
  background-color: #010101; }

.sfg-man {
  position: absolute;
  max-width: 16px;
  left: 140px;
  animation: sfg-man 6s infinite ease-in-out; }

.sfg-rain {
  position: absolute;
  max-width: 32px;
  top: -40px;
  left: 150px;
  animation: sfg-rain 6s infinite ease-in-out; }

.sfg-money {
  animation-delay: 4s; }

.sfg-heart-1 {
  animation-delay: 2s; }

@keyframes sfg-rain {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; }
  to {
    transform: translateY(64px); } }

.sfg-text {
  height: 24px;
  position: absolute;
  left: 0;
  animation: sfg-fade 12s infinite ease-in-out;
  transform: translateY(0px);
  opacity: 0; }
  .sfg-text:nth-child(11) {
    bottom: 0;
    animation-delay: 9s; }
  .sfg-text:nth-child(10) {
    bottom: 24px;
    animation-delay: 8s; }
  .sfg-text:nth-child(9) {
    bottom: 48px;
    animation-delay: 7s; }
  .sfg-text:nth-child(8) {
    bottom: 72px;
    animation-delay: 6s; }
  .sfg-text:nth-child(7) {
    bottom: 96px;
    animation-delay: 5s; }
  .sfg-text:nth-child(6) {
    bottom: 120px;
    animation-delay: 4s; }
  .sfg-text:nth-child(5) {
    bottom: 144px;
    animation-delay: 3s; }
  .sfg-text:nth-child(4) {
    bottom: 168px;
    animation-delay: 2s; }
  .sfg-text:nth-child(3) {
    bottom: 192px;
    height: 40px;
    animation-delay: 1s; }

@keyframes sfg-fade {
  from {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes sfg-man {
  0% {
    transform: translateY(24px); }
  50% {
    transform: translateY(16px); }
  100% {
    transform: translateY(24px); } }

.tml {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px; }

.tml-red {
  animation: tml-glitch 2s infinite alternate-reverse; }

.tml-black {
  animation: tml-shake 1s infinite linear alternate-reverse; }

@keyframes tml-glitch {
  0% {
    clip: rect(507px, 300px, 243px, 0); }
  10% {
    clip: rect(298px, 300px, 90px, 0); }
  20% {
    clip: rect(402px, 300px, 546px, 0); }
  30% {
    clip: rect(205px, 300px, 418px, 0); }
  40% {
    clip: rect(581px, 300px, 466px, 0); }
  50% {
    clip: rect(567px, 300px, 584px, 0); }
  60% {
    clip: rect(90px, 300px, 308px, 0); }
  70% {
    clip: rect(42px, 300px, 570px, 0); }
  80% {
    clip: rect(217px, 300px, 69px, 0); }
  90% {
    clip: rect(163px, 300px, 109px, 0); }
  100% {
    clip: rect(200px, 300px, 425px, 0); } }

@keyframes tml-shake {
  0% {
    transform: translateX(-1px); }
  25% {
    transform: translateX(1px); } }

.dark {
  position: absolute;
  width: 300px;
  height: 300px;
  background-image: linear-gradient(to right, #161616, rgba(22, 22, 22, 0)); }

.candle {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2; }

.flame {
  width: 4px;
  height: 16px;
  position: absolute;
  top: 24px;
  right: 65px;
  border-radius: 50% 50% 20% 20%;
  background: white;
  background: -moz-linear-gradient(white 80%, transparent);
  background: -webkit-linear-gradient(white 80%, transparent);
  background: -o-linear-gradient(white 80%, transparent);
  background: -ms-linear-gradient(white 80%, transparent);
  background: linear-gradient(white 80%, transparent);
  animation: moveFlame 4s linear infinite, enlargeFlame 4s linear infinite; }

.flame:before {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 20% 20%;
  box-shadow: 0 0 15px 0 rgba(247, 93, 0, 0.4), 0 -6px 4px 0 rgba(247, 128, 0, 0.7); }

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg); }
  50% {
    transform: translateX(-50%) rotate(2deg); } }

@keyframes enlargeFlame {
  0%, 100% {
    height: 8px; }
  50% {
    height: 16px; } }

.glow {
  position: absolute;
  width: 26px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 50%;
  top: -48px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, 0.7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c, inset 3px 0 2px 0 rgba(0, 133, 255, 0.6), inset -3px 0 2px 0 rgba(0, 133, 255, 0.6); }

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35); }

.blinking-glow {
  position: absolute;
  top: -64px;
  right: 0px;
  width: 100px;
  height: 180px;
  border-radius: 50%;
  background: #ff6000;
  -webkit-filter: blur(50px);
  -moz-filter: blur(60px);
  -o-filter: blur(60px);
  -ms-filter: blur(60px);
  filter: blur(60px);
  animation: blinkIt .1s infinite; }

@keyframes blinkIt {
  50% {
    opacity: .8; } }

.nwts-bg {
  background: linear-gradient(180deg, #0065BA 0%, #72B2DE 100%);
  z-index: -1; }

.nwts-drake {
  z-index: 2; }

.nwts-clouds:before {
  content: url(../img/nwts/cloud-med.png);
  position: absolute;
  top: 0px;
  left: -360px;
  animation: cloud-med 16s linear alternate infinite;
  animation-delay: 2s; }

.nwts-clouds:after {
  content: url(../img/nwts/cloud-large.png);
  position: absolute;
  bottom: -100px;
  left: -600px;
  animation: cloud-large 32s linear infinite;
  z-index: -1; }

@keyframes cloud-large {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(1000px); } }

@keyframes cloud-med {
  0% {
    transform: translateX(0px); }
  100% {
    transform: translateX(800px); } }

@font-face {
  font-family: 'Late-Regular';
  src: url("Late-Regular.woff2") format("woff2"), url("Late-Regular.woff") format("woff"), url("Late-Regular.ttf") format("truetype"); }

.if-text {
  font-family: 'Late-Regular';
  font-size: 48px;
  padding-left: 24px;
  white-space: nowrap;
  overflow: hidden;
  height: 48px;
  width: 30em;
  margin: 0;
  animation: type 6s steps(60, end) infinite;
  opacity: 0; }

.reading-delay-1 {
  animation-delay: 1s; }

.reading-delay-2 {
  animation-delay: 2s; }

.reading-delay-3 {
  animation-delay: 3s; }

@keyframes type {
  from {
    width: 0;
    opacity: 1; } }

.cursor {
  animation: blink 1s infinite;
  margin-left: -40px; }

@keyframes blink {
  to {
    opacity: .0; } }

.pray-hands {
  max-width: 32px;
  margin: 0 auto;
  display: block;
  margin-top: 32px; }

.wattba-diamonds {
  animation: diamondsdancing 6s infinite linear;
  margin: 0 auto;
  display: block;
  width: 500px;
  position: absolute;
  top: -100px;
  left: -100px; }

@keyframes diamondsdancing {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.bg-views {
  background: url(../img/views/views-album.png) center no-repeat;
  background-size: 300px; }

.rain {
  height: 100vh;
  background: url(https://i.postimg.cc/MKgprHJg/rain.png);
  animation: rain 0.5s linear infinite; }

@keyframes rain {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 150px 400px; } }

.more-dennis {
  animation: scale-dennis 10s linear infinite;
  transform-origin: center; }

.more-life {
  position: absolute;
  width: 200px;
  height: auto;
  left: 15%;
  animation: more-life 10s linear infinite; }

.more-playlist {
  position: absolute;
  width: 200px;
  height: auto;
  left: 15%;
  animation: more-playlist 10s linear infinite;
  bottom: 0; }

@keyframes more-playlist {
  0% {
    transform: translateY(32px); }
  25% {
    transform: translateY(32px); }
  50% {
    transform: translateY(-32px); }
  75% {
    transform: translateY(-32px); }
  100% {
    transform: translateY(32px); } }

@keyframes more-life {
  0% {
    transform: translateY(-32px); }
  25% {
    transform: translateY(-32px); }
  50% {
    transform: translateY(32px); }
  75% {
    transform: translateY(32px); }
  100% {
    transform: translateY(-32px); } }

@keyframes scale-dennis {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(0.5); }
  75% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

.bg-scorpion {
  background: url(../img/scorpion/scorpion-album.jpg) center no-repeat;
  background-size: 300px; }

.scorpion-autograph {
  width: 134px;
  position: absolute;
  bottom: 10px;
  right: 12px;
  fill: none;
  stroke: #aaa9aa;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 6px;
  opacity: .75;
  border: 0; }

.first {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite; }

.last {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash-delay 5s linear infinite; }

@keyframes dash {
  0% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes dash-delay {
  35% {
    stroke-dashoffset: 1000; }
  100% {
    stroke-dashoffset: 0; } }

.bg-cp {
  position: absolute;
  animation: cp-blur 0.5s infinite alternate; }

.cp-text {
  filter: drop-shadow(0px 0px 12px white);
  display: block;
  padding-top: 24px;
  margin: 0 auto;
  animation: cp-pulsate 3s infinite; }

@keyframes cp-blur {
  0% {
    filter: blur(0px); }
  100% {
    filter: blur(2px); } }

@keyframes cp-pulsate {
  100% {
    filter: drop-shadow(0px 0px 12px white); }
  50% {
    filter: drop-shadow(0px 0px 6px white); }
  0% {
    filter: drop-shadow(0px 0px 12px white); } }

.dark-album {
  background: linear-gradient(90deg, #14160B 79.65%, #4A4F0F 100%); }

.dark-eyes-container {
  position: relative; }

.dark-eyes {
  max-width: 96px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 230%);
  animation: darkness 8s infinite;
  animation-delay: 2s;
  opacity: 0; }

@keyframes darkness {
  0% {
    opacity: 0; }
  50% {
    opacity: .9; }
  100% {
    opacity: 0; } }

.clb-cover {
  padding: 40px 24px; }

.clb-ting {
  max-width: 38px;
  flex-direction: row; }

.clb-spacing {
  margin: 12px 0 12px 0; }

.clb-grid {
  display: flex;
  justify-content: space-evenly; }

.clb-ting-1 {
  animation: ting-blink 1s alternate-reverse infinite; }

.clb-ting-2 {
  animation: ting-blink 1.5s alternate infinite; }

.clb-ting-3 {
  animation: ting-blink 2s alternate-reverse infinite; }

.clb-ting-4 {
  animation: ting-blink 2.5s alternate infinite; }

.clb-ting-5 {
  animation: ting-blink 3s alternate-reverse infinite; }

.clb-ting-6 {
  animation: ting-blink 3.5s alternate infinite; }

.clb-ting-7 {
  animation: ting-blink 4s alternate-reverse infinite; }

.clb-ting-8 {
  animation: ting-blink 4.5s alternate infinite; }

.clb-ting-9 {
  animation: ting-blink 5s alternate-reverse infinite; }

.clb-ting-10 {
  animation: ting-blink 5.5s alternate infinite; }

.clb-ting-11 {
  animation: ting-blink 6s alternate-reverse infinite; }

.clb-ting-12 {
  animation: ting-blink 6.5s alternate infinite; }

@keyframes ting-blink {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*! Flickity v2.2.2
https://flickity.metafizzy.co
---------------------------------------------- */
.carousel-cell {
  margin-right: 16px;
  counter-increment: carousel-cell;
  opacity: 25%;
  transform: scale(0.9);
  width: 300px; }

.carousel-cell.is-selected {
  opacity: 100%;
  transform: scale(1);
  transition: opacity 1.5s ease-in-out, scale 1.5s ease-in-out; }

.main-carousel {
  width: 90%;
  margin: 0 auto; }

.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: currentColor; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 35%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }
